.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cash-withdrawal-card {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 18px;
  padding-left: 18px;
  max-width: 350px;
}

.profile-section {
  display: flex;
}

.initial-section {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #c7d2fe;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial {
  color: #7c3aed;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
}

.name {
  color: #c4c4c4;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
}

.balance-container {
  display: flex;
  flex-direction: space between;
  margin-top: 4px;
}

your-balance {
  color: #7c3aed;
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto;
}

.balance {
  color: #c4c4c4;
  font-size: 35px;
  font-weight: 500;
  font-family: Roboto;
}

.currency {
  color: #7c3aed;
  font-size: 15ppx;
  font-weight: 500;
  font-family: Roboto;
}

.withdraw {
  color: #c4c4c4;
  font-size: 30px;
  font-weight: 500;
  font-family: Roboto;
}

choose-value {
  color: #7c3aed;
  font-size: 35ppx;
  font-weight: 500;
  font-family: Roboto;
}

.denomination-list {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
}
